@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;;
}


body {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #181818;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
